<div class="col-sm-12" style="padding-left: 0px;">
  <div class="collection-details-wrapper">
    <div class="collection-details-item">
      Items
      <span><%= @presenter.total_viewable_items %></span>
    </div>
  </div>
<!--  <div class="collection-details-wrapper">-->
<!--    <div class="collection-details-item">-->
<!--      Size-->
<!--      <span><%#= @presenter.size %></span>-->
<!--    </div>-->
<!--  </div>-->
  <div class="collection-details-wrapper">
    <div class="collection-details-item">
      Last Updated
      <span><%= @presenter.modified_date %></span>
    </div>
  </div>
</div>