<style>
  #map {
      height: 400px;
      width: 100%;
      position: relative;
      z-index: 100;
      display: none;
  }
</style>

<div id="map" data-gmaps="<%= Rails.application.secrets[:google_maps] %>"></div>

<script>
  var googleMapItems = <%= raw @coordinates.to_json %>;
  var googleMapMarkers = [];
  var openInfoWindow; //Checks if infoWindow is open or closed
</script>
<script async src="/markerclusterer.js"></script>
<script async src="/show_google_map.js"></script>