<h2>Terms of Use for University of Victoria Websites</h2>
<p>Terms of use for University of Victoria websites can be found here: <a href="https://www.uvic.ca/info/terms-of-use">https://www.uvic.ca/info/terms-of-use</a></p>
<h2>Vault Notice and Take Down Policy </h2>

<p>All material on the University of Victoria’s <a href="https://vault.library.uvic.ca/">Vault website</a> is subject to temporary or permanent removal pending the outcome of a legitimate complaint. Legitimate complaints will normally be concerned with the ownership of intellectual property rights, moral rights, and other legal issues. Grounds for complaint may include (but not be limited to) unauthorized reproduction, integrity, breach of confidence, or data protection.</p>

<p>We will remove an item immediately, if we become aware of any illegal activity facilitated by an item in the Vault collection.</p>

<p>If you are a rights holder and are concerned that you have found material on our website for which you have not given permission, or which is not covered by a limitation or exception in national law, please contact the Vault administrator by email at <a href="mailto:lgoddard@uvic.ca">lgoddard@uvic.ca</a>.  We require the following information:</p>
<ul>
  <li>Your contact details.</li>
  <li>The bibliographic details of the material.</li>
  <li>The exact and full URL where you found the material.</li>
  <li>Proof that you are the rights holder and a statement that, under penalty of perjury, you are the rights holder or are an authorised representative.</li>
</ul>

<p>Upon receipt of notification the ‘Notice and Takedown’ procedure is then invoked as follows:</p>
<ol>
  <li>The Vault administrator will acknowledge receipt of your complaint by email or letter and will make an initial assessment of the validity and plausibility of the complaint.</li>
  <li>Upon receipt of a valid complaint the material will be temporarily removed from the Vault website pending an agreed solution.</li>
  <li>The Vault administrator will contact the contributor who deposited the material, if relevant. The contributor will be notified that the material is subject to a complaint, under what allegations, and will be encouraged to assuage the complaints concerned.</li>
  <li>The complainant and the contributor will be encouraged to resolve the issue swiftly and amicably. If necessary, the Vault administrator will spend a reasonable amount of time mediating between the complainant and the contributor in order to resolve the issue to their mutual satisfaction. One of four outcomes will result:</li>
  <ul>
    <li>The item is unchanged (and restored to Vault)</li>
    <li>The item is replaced in the Vault with the appropriate changes</li>
    <li>The item is withheld from Vault pending completion of an embargo period</li>
    <li>The item is permanently removed from Vault.</li>
  </ul>
</ol>