<h1>Help and FAQ</h1>
<h2 class="help-page-section-heading">Table of Contents</h2>
<ul class="contents-link">
    <li><a href="#search" >Search</a></li>
        <ul class="contents-link">
            <li><a href="#how-do-i-search-in-vault" >How do I search in Vault?</a></li
            ><li><a href="#what-facets-are-included" >What facets are included?</a></li>
        </ul>
    <li><a href="#viewing" >Viewing</a></li>
        <ul class="contents-link">
            <li><a href="/help#transcripts">How do I view transcripts?</a></li>
        </ul>
    <li><a href="#downloading" >Downloading</a></li>
        <ul class="contents-link">
            <li><a href="/help#how-can-i-download-high-resolution-images-of-items" >How can I download high-resolution images of items?</a></li>
            <li><a href="/help#how-can-i-download-high-resolution-images-of-items" >How can I download video and audio files?</a></li>
        </ul>
    <li><a href="#copyright-in-vault-collections" >Copyright in Vault Collections</a></li>
        <ul class="contents-link">
            <li><a href="/help#are-items-in-vault-collections-available-for-reuse" >Are items in Vault collections available for reuse?</a></li>
        </ul>
    <li><a href="#accessing-the-physical-item" >Accessing the Physical Item</a></li>
        <ul class="contents-link">
            <li><a href="/help#can-i-see-the-physical-items" >Can I see the physical items?</a></li>
        </ul>
</ul>

<section>
    <h2 class="help-page-section-heading"><a name="search" class="page-heading">Search</a></h2>
    <h3><a name="how-do-i-search-in-vault" class="page-heading">How do I search in Vault?</a></h3>
    Start with a basic keyword search and then use the Facets on the left to limit/filter your search, or press enter in teh empty search bar to browse by Facets. Vault does not have an Advanced Search function. The keyword search searches metadata and full text/transcripts of the digital objects (when available). Names of people will be listed under the Subject facet.
    <h3><a name="what-facets-are-included" class="page-heading">What facets are included?</a></h3>
    You can limit/filter your search by these facets:
    <ul>
        <li><strong>Collection</strong> - the Digital Collection in Vault</li>
        <li><strong>Genre</strong> - what the digital object is (e.g. photographs, books, newspapers, video recordings, etc.). These values come from the Getty Art and Architecture Thesaurus.</li>
        <li><strong>Resource Type</strong> - the broad category of digital object. Taken from the DCMI Type Vocabulary</li>
        <li><strong>Year / Year Range</strong> - the year(s) the item was originally created / published.</li>
        <li><strong>Geographic Coverage</strong> - the geographic association with the digital object. This could be the places the digital object is about (e.g. a book about a particular city) or another association (e.g. where a photograph is taken). Most values in this field come from the OCLC FAST vocabulary.</li>
        <li><strong>Subject</strong> - the topical subject of the digital object. Indicates what the digital object is about. This could be topics, people, events, or organizations. Note that this field does not include geographic values since those are represented in Geographic Coverage. Most values in this field come from the OCLC FAST vocabulary.</li>
        <li><strong>Language</strong> - the spoken or written language of the digital object. ISO-639-2 three-letter language codes are used.</li>
        <li><strong>Creator</strong> - the person/people or organizations primarily responsible for the creative or intellectual content of the digital object. This could be an author, photographer, artist, etc. Whenever possible, values for this field are taken from the OCLC-FAST vocabulary.</li>
        <li><strong>Contributor</strong> - the person/people or organizations with non-primary responsibility  for the creative or intellectual content of the digital object or connected with the digital object in some other way. Whenever possible, values for this field are taken from the OCLC-FAST vocabulary.</li>
    </ul>
</section>

<section><!-- Search -->
    <h2 class="help-page-section-heading"><a name="viewing" class="page-heading">Viewing</a></h2>
    Vault uses <a href="https://universalviewer.op">Universal Viewer</a> to display many of its image objects, or objects containing a series of images (e.g. a book with 1 image per page).
    <h3><a name="transcripts" class="page-heading">How do I view transcripts?</a></h3>
    <p>If a transcript is available for each page or image, you'll be able to see it in the right-hand "drawer" of the viewer. Click on "More Information" to expand the drawer and see file-level metadata, including a transcript if available.</p>
    <img src="/pages/help/view_transcript.gif" alt="an animated GIF showing the expanded viewer and transcript" />
</section><!-- Search -->

<section><!-- Downloading -->
    <h2 class="help-page-section-heading"><a name="downloading" class="page-heading">Downloading</a></h2>
    <h3><a name="how-can-i-download-high-resolution-images-of-items" class="page-heading">How can I download high-resolution images of items?</a></h3>
    <p>To download high-resolution images of digital objects, click on the arrow in the bottom-left corner of the object viewer, choose the desired resolution, and click "Download."</p>
    <img src="/pages/help/download_image.png" alt="image of expanded download menu in universal viewer" />
    <h3><a name="how-can-i-download-video-and-audio-files" class="page-heading">How can I download video and audio files?</a></h3>
    <p>Click on the "Download video" or "Download audio" links below the media player.</p>
    <img src="/pages/help/download_audio.png" width="35%" alt="Circled download button for an audio file" />
</section><!-- Downloading -->

<section><!-- Copyright in Vault Collections -->
    <h2 class="help-page-section-heading"><a name="copyright-in-vault-collections" class="page-heading">Copyright in Vault Collections</a></h2>
    <h3><a name="are-items-in-vault-collections-available-for-reuse" class="page-heading">Are items in Vault collections available for reuse?</a></h3>
    <p>Materials in Vault have an array of different copyright protections and licenses depending on the age and provenance of the individual collection. Please check the "Rights statement" field in the item level record to determine how this material may be used.</p>
    <img src="/pages/help/rights_statement.jpg" alt="Circled rights statement" width="30%" />
    <p>You can see our takedown policy on our <a href="/about">About</a> page.</p>
</section><!-- Copyright in Vault Collections -->

<section><!-- Accessing the Physical Item -->
    <h2><a name="accessing-the-physical-item" class="page-heading">Accessing the Physical Item</a></h2>
    <h3><a name="can-i-see-the-physical-items" class="page-heading">Can I see the physical items?</a></h3>
    <p>All digital objects are provided by UVic Libraries, but not all physical items are held in the Libraries. Check the metadata field "Physical Repository" to determine where the physical item is held. </p>
    <img src="/pages/help/phys_repo.png" alt="Circled physical repository label" width="30%" />
    <p>If the item is held at the <strong>University of Victoria (B.C.) Library</strong>, you can contact UVic Special Collections and University Archives to inquire about accessing it. Any questions about physical items/collections can be directed to Special Collections and University Archives staff at <a href="mailto:speccoll@uvic.ca">speccoll@uvic.ca</a>.</p>
</section><!-- Accessing the Physical Item -->

<script>
  // https://stackoverflow.com/questions/38588346/anchor-a-tags-not-working-in-chrome-when-using
    $(function() {
        $('a[href*="#"]:not([href="#"])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                if (target.length) {
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>