<!-------- app/views/hyrax/homepage/_collection_card_row.html.erb -------->
<div class="card-row row">
  <%# Size cards dynamically based on whether there are 6 or 8 featured works %>
  <% card_width = 12/(collection_presenters.count.to_f/2).round %>
  <% collection_presenters.each do |presenter| %>
    <% document = presenter.solr_document %>
    <% if document.thumbnail_path %>
      <% if document.thumbnail_path.include? "uploaded_collection_thumbnails" %>
        <%# use the higher resolution derivative %>
        <% new_path = document.thumbnail_path.gsub('_thumbnail.jpg','_card.jpg') %>
      <% else %>
        <!-- If string contains thumbnail dimensions, change them -->
        <% new_path = document.thumbnail_path.gsub '!150,300', '!500,900' %>
      <% end %>
      <% else %><!-- use placeholder -->
      <% new_path = asset_path 'collection.png', skip_pipeline: true %>
    <% end %>
    <%= render 'collection_card', presenter: presenter, new_path: new_path, card_width: card_width %>
  <% end %>
</div><!-- .card-row.row -->