<%- # requires solr_config local passed in
    field_config = range_config(solr_field)
    label = facet_field_label(solr_field)

    input_label_range_begin = field_config[:input_label_range_begin] || t("blacklight.range_limit.range_begin", field_label: label)
    input_label_range_end   = field_config[:input_label_range_end] || t("blacklight.range_limit.range_end", field_label: label)
    maxlength = field_config[:maxlength]
-%>

<div class="limit_content range_limit advanced_search">
  <%= label_tag key, "#{field_def.label }", :class => "col-sm-2 control-label" %>
  <%= render_range_input(solr_field, :begin, input_label_range_begin, maxlength) %>&ensp; – &ensp;<%= render_range_input(solr_field, :end, input_label_range_end, maxlength) %>
</div>