<% @page_title = "Advanced Search - Vault" %>

<div class="advanced-search-form col-sm-12">

  <h1 class="advanced page-header">
    Advanced Search
    <%= link_to t('blacklight_advanced_search.form.start_over'), blacklight_advanced_search_engine.advanced_search_path, :class =>"btn btn-default pull-right advanced-search-start-over" %>
  </h1>

  <div class="row">
    <div class="col-md-9">
    <%= render "advanced_search_help" %>
    </div>
  </div>

  <div class="row">

    <div class="col-md-12">
      <%= render 'advanced_search_form' %>
    </div>


  </div>

</div>
<script>
  // This code is in app/views/advanced/index.html.erb. It's
  // messy but it ensures the code only runs once on the
  // advanced search page.

    // When user clicks "More" facets link and modal opens
    $("body ").on('shown.bs.modal', function (e) {
        $('.facet-checkbox input').on('change', function () {
          if(this.checked) {

              // Get the field name from the element so we can
              // append it to the right search facet form
              //   e.g. 'f_inclusive[geographic_coverage_label_sim][]'
              //   => geographic_coverage_label_sim
              var nameAttr = $(this).attr('name');
              var regex = /\[(.+)\]\[\]/g;
              var fieldName = regex.exec(nameAttr)[1];
              //console.log(fieldName);

              //Clone and append the whole <li> to facet body
              var facetBodyList = $('#facet-' + fieldName + ' ul.facet-values');
              var li = $(this).closest('li');
              li.clone().prependTo(facetBodyList);

          }
        });
    });
</script>