<% presenter.title.each_with_index do |title, index| %>
  <% if index == 0 %>
    <h1 class="ensure-wrapped">
      <%= title %>
      <!-- OVERRIDE Hyrax 4.0.0 - check if user permissions to display visibility badges-->
      <% if badge_visibility?(presenter) %>
        <%= presenter.permission_badge %>
      <% end %>
    </h1>
  <% else %>
    <h1 class="ensure-wrapped"><%= title %></h1>
  <% end %>
<% end %>
