<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Hello,</p>
 <% if @downloadable == true %>
    <p>All files in <%= link_to @collection.title[0], @url %> are downloadable.</p>
<% else %>
    <p>All files in <%= link_to @collection.title[0], @url %> are not downloadable by public users.</p>
<% end %>
</body>
</html>