<div class="browse-by-container">
  <h1 id="browse-by-header" class="fade-in-text">Browse by Genre</h1>
  <ul id="browse-by-nav" class="nav nav-tabs" role="tablist" >
    <li class="nav-item">
      <button class="nav-link" href="#genre-homepage-facet" data-toggle="tab" role="tab" data-header="Browse by Genre" aria-controls="genre" aria-selected="true" tabindex="0">Genre</button>
    </li>
    <li>
      <button class="nav-link" href="#year-range-homepage-facet" data-toggle="tab" role="tab" data-header="Browse by Time Period" aria-controls="time-period" tabindex="-1">Time Period</button>
    </li>
    <li>
      <button class="nav-link" href="#subject-homepage-facet" data-toggle="tab" role="tab" data-header="Browse by Subject" aria-controls="subject" tabindex="-1">Subject</button>
    </li>
    <li>
      <button class="nav-link" href="#place-homepage-facet" data-toggle="tab" role="tab" data-header="Browse by Place" aria-controls="place" tabindex="-1">Place</button>
    </li>
  </ul>

  <div class="tab-content" >
    <%# Homepage facet links are configured in VaultHomepageHelper %>
    <%= render 'hyrax/homepage/facets/genre_facet', field_name: "genre_label_sim" %>
    <%= render 'hyrax/homepage/facets/year_range_facet', field_name: "year_range_isim" %>
    <%= render 'hyrax/homepage/facets/subject_facet', field_name: "subject_label_sim" %>
    <%= render 'hyrax/homepage/facets/geographic_coverage_facet', field_name: "geographic_coverage_label_sim" %>
  </div>
</div>
