<div class="tab-pane homepage-facet-tab" role="tabpanel" id="subject-homepage-facet" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <ul class="homepage-facet-list">
          <% subject_facet_values.each do |val| %>
            <%= render_homepage_facet_value(field_name, val, {label: val.value }) %><%# label_for_homepage_facet(val) %>
          <% end %>
          <li class="homepage-facet-label">
            <%= link_to "More »",
                        main_app.facet_catalog_path(id: field_name), class: "more_facets_link homepage-facet-link last-child" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>