<div class="card-row row">
  <% presenters.each do |presenter| %>
    <% case presenter %>
    <% when Hyrax::CollectionPresenter %>
      <%= render 'hyrax/homepage/cards/collection_card', presenter: presenter, card_width: card_width %>
    <% when VaultWorkShowPresenter %>
      <%= render 'hyrax/homepage/cards/work_card', presenter: presenter, card_width: card_width %>
    <% end %>
  <% end %>
</div>