<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>BatchCreateFilesJob failed for this work: <%= 'https://vault.library.uvic.ca/concern/generic_works/' + @work_id %></p>
  <p>with this ingest work id: <%= @ingest_work_id %></p>
  <p>with this error message: <%= @error_message %></p>
</body>
</html>