<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello,</p>
    <% if @visibility %>
      <p><%= link_to @collection.title[0], @url %> is now <%= @visibility %>.</p>
    <% end %>
  </body>
</html>
