<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Hello,</p>
<p>The following files failed fixity checks:</p>
<% @file_sets.each do |fs| %>
  <% host = "#{Account.find_by(tenant: Apartment::Tenant.current).cname}" %>
  <p><%= fs.title.first %>: <%= "https://#{host}/concern/parent/#{fs.parent_id}/file_sets/#{fs.id}" %></p>
  <p>Download: <%= "http://#{host}/downloads/#{fs.id}" %>
<% end %>
</body>
</html>