<% if can? :review, :submissions %>
  <%= menu.nav_link(main_app.to_spotlight_index_path) do %>
        <span class="fa fa-flag" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('Review Transfers') %></span>
  <% end %>
<% end %>