<% if request.base_url.include? "vault" %>
  <footer class="navbar navbar-inverse site-footer" style="padding: 0px; height: fit-content;">
    <div class="container-fluid">
      <div class="row" >
        <div class="col-xs-4 col-lg-2 col-md-2 col-sm-4 footer-logo-container">
          <a class="footer-link" id="logo-link" href="https://www.uvic.ca/library/" target="_blank">
<!--            <div id="footer-logo" style="background: url(<%#= asset_path 'lib-logo-white.png' %>) center center no-repeat;">-->
<!--            </div>-->
            <img id="footer-logo" alt="UVic Libraries logo" src="<%= asset_path 'lib-logo-white.png' %>" />
          </a>
        </div>

        <div class="col-xs-6 col-lg-2 col-md-2 col-sm-4 navbar-text">
          <h4>Quicklinks</h4>
          <ul class="unstyled-list">
            <li>
              <a aria-label="Hours and locations footer link" class="footer-link" href="https://www.uvic.ca/library/locations/" target="_blank">Hours and Locations</a>
            </li>
            <li>
              <a aria-label="Main library site footer link" class="footer-link" href="https://www.uvic.ca/library/" target="_blank">Main Library Site</a>
            </li>
            <li>
              <a aria-label="Digital exhibits footer link" class="footer-link" href="https://exhibits.library.uvic.ca/" target="_blank">Digital Exhibits</a>
            </li>
            <!-- Policy from https://libguides.uvic.ca/uvicspace/policies/access -->
            <li><a aria-label="Terms of use footer link" class="footer-link" href="https://vault.library.uvic.ca/about?locale=en" target="_blank">Terms of Use</a>&ensp;/&ensp;
              <a aria-label="Withdrawal policy footer link" class="footer-link" href="http://vault.library.uvic.ca/about?locale=en" target="_blank">Withdrawal Policy</a></li>
          </ul>
          <span>&copy; 2022 University of Victoria</span>
        </div>
        <div class="col-xs-6 col-lg-2 col-md-2 col-sm-4 navbar-text" >
          <h4>Contact</h4>
          <ul aria-label="Contact information" class="unstyled-list">
            <li>
              <a aria-label="Contact form footer link" class="footer-link" href="https://vault.library.uvic.ca/contact?locale=en">Contact Form</a></li>
            <li>
              <a class="footer-link" aria-label="Main library phone number 1-250-721-6673" href="tel:1-250-721-6673">
                <span aria-hidden="true" class="glyphicon glyphicon-earphone"></span>250-721-6673</a>
            </li>
            <li>
              <a class="footer-link" aria-label="Text the library at 1-778-400-4518" href="sms://+17784004518">
                <span aria-hidden="true" class="glyphicon glyphicon-envelope"></span>778-400-4518</a>
            </li>
            <li><a aria-label="More library contact info footer link" class="footer-link" href="https://www.uvic.ca/library/home/home/contact/index.php" target="_blank">More Library Contact Info</a></li>
          </ul>
          <h5 id="social-media-header" class="visually-hidden">Social Media </h5>
          <ul aria-labelledby="social-media-header" class="unstyled-list">
            <li>
              <a aria-label="UVic Libraries Twitter" class="footer-link social-media-link" href="https://twitter.com/uviclib" target="_blank">
                <i aria-hidden="true" class="fa fa-twitter footer-icon"></i>
              </a>
            </li>
            <li>
              <a aria-label="UVic Libraries Instagram" class="footer-link social-media-link" href="https://www.instagram.com/uviclibraries/?hl=en" target="_blank">
                <i aria-hidden="true" class="fa fa-instagram footer-icon"></i>
              </a>
            </li>
            <li>
              <a aria-label="UVic Libraries Facebook" class="footer-link social-media-link" href="https://www.facebook.com/UVicLibraries/" target="_blank">
                <i aria-hidden="true" class="fa fa-facebook-square footer-icon"></i>
              </a>
            </li>
            <li>
              <a aria-label="UVic Libraries Youtube" class="footer-link social-media-link" href="https://www.youtube.com/user/UVicLibraries" target="_blank">
                <i aria-hidden="true" class="fa fa-youtube-play footer-icon"></i>
              </a>
            </li>
          </ul>
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </footer>
<% else %>
  <footer class="navbar navbar-inverse site-footer" style="padding: 0px; height: fit-content; position: absolute; bottom: 0;">
    <div class="container-fluid">
      <div class="navbar-text text-left">
<!--        <p><%#= t('hyrax.footer.service_html') %></p>-->
        <p>Hyku v<%= Hyku::VERSION %></p>
      </div>
      <div class="navbar-right">
        <div class="navbar-text text-right">
<!--          <p><%#= t('hyrax.footer.copyright_html') %></p>-->
<!--          <p><%#= t('hyrax.background_attribution_html') %></p>-->
          <% if admin_host? && !user_signed_in? %>
            <p><%= link_to t('hyku.footer.admin_login', default: [:'hyrax.toolbar.profile.login']), main_app.new_user_session_path %></p>
          <% end %>
        </div>
      </div>
    </div><!-- container -->
  </footer>
<% end %>
