<% if request.base_url.include? "vault" %>
  <%= render 'hyrax/file_sets/media_display/vault/audio', file_set: file_set %>
<% else %>
  <div>
    <audio controls="controls" class="audiojs" controlsList="nodownload" preload="auto" style="max-width:100%;">
      <source src="<%= hyrax.download_path(file_set, file: 'mp3') %>" type="audio/mpeg" />
      <%= t('hyrax.file_set.show.downloadable_content.audio_tag_not_supported') %>
    </audio>
  </div>
  <% if Hyrax.config.display_media_download_link? %>
    <%= link_to t('hyrax.file_set.show.downloadable_content.audio_link'),
                hyrax.download_path(file_set),
                data: { label: file_set.id },
                target: :_blank,
                id: "file_download" %>
  <% end %>
<% end %>
