<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello,</p>
    <p>All works in <%= link_to @collection.title[0], @url %> now have the same permissions as the collection.</p>
  </body>
</html>
