<div>
  <span class="sort-by">Sort by:</span>
  <ul class="browse-sort-list">
    <li><button class="browse-sort-button active">Title A-Z</button></li>
  </ul>
</div>
<div id="browse-collections-wrapper" class="col-lg-12 col-md-12 col-sm-12">
  <% @collection_presenters.each do |pres| %>
    <%= render partial: 'browse_collections/collection_card',
               locals: { title: pres.title.first, description: pres.description.first,
                         url: "#{request.base_url}/collections/#{pres.id}", thumbnail: pres.thumbnail_path } %>
  <% end %>
</div>

<!--<div>-->
<!--  <span id="results-count">Showing X of X results</span>-->
<!--</div>-->
<%= render 'browse_collections/load_more_button', total_count: @collections_count, parent: 'browse-collections-wrapper' %>
<%# if on the homepage, we don't need to render this again %>
<% unless controller_name == "homepage" %>
  <%= render 'browse_collections/back_to_top' %>
<% end %>