<!-- Disable this until we have more sorting options -->
<!--<div>-->
<!--  <span class="sort-by">Sort by:</span>-->
<!--  <ul class="browse-sort-list">-->
<!--    <li><button class="browse-sort-button active">Title A-Z</button></li>-->
<!--  </ul>-->
<!--</div>-->

<div id="browse-collections-wrapper" class="col-lg-12 col-md-12 col-sm-12">
  <% @collection_card_presenters.each do |presenter| %>
    <%= render partial: 'hyrax/homepage/collection_card',
               locals: { presenter: presenter, card_width: 3 } %>
  <% end %>
</div>

<!--<div>-->
<!--  <span id="results-count">Showing X of X results</span>-->
<!--</div>-->
<% if @presenter.collections.count > 8 %>
  <%= render 'browse_collections/load_more_button', total_count: @presenter.collections.count, parent: 'browse-collections-wrapper' %>
  <%# if on the homepage, we don't need to render this again %>
  <% unless controller_name == "homepage" %>
    <%= render 'browse_collections/back_to_top' %>
  <% end %>
<% end %>
