<div class="load-more-button-wrapper col-lg-12 col-md-12 col-sm-12">
  <button class="btn load-more-button">
    <%= link_to "Load More", path_for_button(parent), method: :get, remote: :true, data: { start: 8, total: total_count } %>
  </button>
</div>
