<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
<h1 class="browse-header">Digital Collections</h1>
<% @total_results.each do |result| %>
  <% if result.has_key?("collection") %>
    <% info = result['collection'] %>
    <%= render partial: 'collection_card',
               locals: { title: info['title'], description: info['description'],
                         url: info['url'], thumbnail: info['thumbnail'] } %>
  <% else %>
    <% info = result['exhibit'] %>
    <%= render partial: 'exhibit_card',
               locals: { title: info['title'], subtitle: info['subtitle'],
                         description: info['description'], url: info['url'],
                         thumbnail: info['thumbnail'] } %>
  <% end %>
<% end %>