<%# OVERRIDE Hyrax 4.0 - Copied from views/hyrax/my/works/default_group
  and modified to render the field with URI and omit batch actions %>
<fieldset>
  <table class="table table-striped fast-update-table table-responsive">
    <caption class="sr-only">Search results for <%= label %> (<%= uri %>)</caption>
    <thead>
    <tr>
      <th>Title</th>
      <th>Collection</th>
      <th>Fields with URI</th>
    </tr>
    </thead>
    <tbody>
    <% docs.each_with_index do |document, counter| %>
      <%= render 'list_works', document: document, counter: counter, presenter: Hyrax::WorkShowPresenter.new(document, current_ability), uri: uri %>
    <% end %>
    </tbody>
  </table>
</fieldset>