<% # main container for facets/limits menu -%>
<%# OVERRIDE Hyrax v. 4.0's views/hyrax/my/works/facets to use
    the FastUpdate::DropdownFacetFieldComponent rather than the
    Hyrax::DropdownFacetFieldComponent.
%>
<% facets = capture do %>
  <%= render Blacklight::FacetComponent.with_collection(
                    blacklight_config.facet_fields_in_group(nil),
                    response: @response,
                    component: FastUpdate::DropdownFacetFieldComponent) %>
<% end %>

<% if facets.present? %>
  <div class="list-filters col-md-10" role="group">
    <span class="list-filters-label">Filter by collection:</span>
    <%= facets %>
  </div>
<% end %>
