<ul class="facet-values list-unstyled">
  <% unless facet_in_params?("genre_sim", "exhibition_catalogs") or @response.facet_counts['facet_queries'].none? %>
      <% catalog_hits = @response.facet_counts['facet_queries']["genre_tesim: \"http://vocab.getty.edu/aat/300026096\""] %>
      <% object_params = {sort: display_facet.sort, limit: display_facet.limit } %>
      <% catalogs = Blacklight::Solr::Response::Facets::FacetItem.new value: "exhibition catalogs", hits: catalog_hits  %>
      <% if catalog_hits %>
          <% if display_facet.sort && display_facet.sort.to_sym == :count %>
                <% new_items = (display_facet.items + [catalogs]).sort_by(&:hits).reverse %>
            <% else %><%# elsif display_facet.sort && display_facet.sort.to_sym == :index %>
                <% new_items = (display_facet.items + [catalogs]).sort_by(&:value) %>
          <% end %>
      <% else %>
         <% new_items = display_facet.items %>
      <% end %>
      <% new_facet = Blacklight::Solr::Response::Facets::FacetField.new display_facet.name, new_items, object_params  %>
      <% paginator = facet_paginator(facet_field, new_facet) %>
  <% else %>
    <% paginator = facet_paginator(facet_field, display_facet) %>
  <% end %>

  <%= render_facet_limit_list paginator, field_name %>

  <% unless paginator.last_page? || params[:action] == "facet" %>
    <li class="more_facets_link">
      <%= link_to t("more_#{field_name}_html", scope: 'blacklight.search.facets', default: :more_html, field_name: facet_field.label),
                  search_facet_path(id: field_name), class: "more_facets_link" %>
    </li>
  <% end %>
  <%#= @response.facet_fields.keys %>
</ul>
<script>
    $(document).on('turbolinks:load', function() {
        if (window.location.href.includes("%5Bgenre_sim%5D%5B%5D=exhibition_catalogs")) {
            var panel = $('.blacklight-genre_label_sim');
            panel.addClass('facet_limit-active');
            panel.find('ul').prepend($('#facet-genre_sim li'));
            $('#facet-genre_label_sim').collapse('show');
        }
        $('.blacklight-genre_sim').hide();
    });

</script>