<div class="masonry document col-xs-6 col-md-3">
  <div class="thumbnail">
    <% @file_set = FileSet.find(document.thumbnail_id) %>
    <% if (@file_set.mime_type.include?("pdf") if @file_set.mime_type) && request.base_url.include?('vault') %>
      <%= link_to(image_tag("#{@file_set.pdf_thumbnail_path}"), "/concern/generic_works/#{document.id}") %><%#= helper name doesn't work for some reason? %>
    <% else %>
      <%= render_thumbnail_tag(document, {}, :counter => document_counter_with_offset(document_counter)) %>
    <% end %>
    <div class="caption">
      <%= render_document_partials document, blacklight_config.view_config(:masonry).partials, :document_counter => document_counter %>
    </div>
  </div>
</div>
