<div class="viewer-wrapper">
  <%# See public/uv/uv.html %>
  <iframe
    src="<%= universal_viewer_base_url(presenter) %>#?manifest=<%= main_app.polymorphic_url [main_app, :manifest, presenter], { locale: nil } %>&config=<%= universal_viewer_config_url(presenter) %>"
    allowfullscreen="true"
    frameborder="0"
    id="universal-viewer"
    style="width:100%; height:480px;"
  ></iframe>
</div>
<% if pdf = presenter.file_set_presenters.find { |fs| fs.pdf? } %>
    <% if Hyrax.config.display_media_download_link? && allow_downloads?(pdf) %>
      <%= link_to t('hyrax.file_set.show.downloadable_content.pdf_link') + (pdf.title.first.downcase.include?("transcript") ? " transcription" : ""),
                  hyrax.download_path(pdf),
                  data: { turbolinks: false },
                  target: :_blank,
                  id: "pdf_download",
                  data: { label: pdf.id } %>
    <% end %>
<% end %>