<audio id="audio1" data-able-player data-skin="2020" preload="auto" width="600">
</audio>
<ul class="able-playlist" data-player="audio1" data-embedded>
  <% audio_files.each do |file| %>
    <li>
      <span class="able-source" data-type="audio/mpeg" data-src="<%= hyrax.download_path(file) %>"></span>
      <button><%= file.title.first %></button>
    </li>
  <% end %>
</ul>
<div class="download-links-container">
<% if display_media_download_link?(file_set: audio_files.first) %>
    <div class="download-links-container">
    <%= link_to "Download selected audio",
                hyrax.download_path(audio_files.first),
                data: { label: audio_files.first.id },
                target: :_blank,
                id: "file_download" %>
  <%# Include link to transcript %>
  <% if display_pdf_download_link?(parent) and work_show_page? %>
    &ensp;|&ensp;
        <%= link_to "Download transcript (PDF)",
                    hyrax.download_path(pdf_file_set(parent)),
                    data: { turbolinks: false },
                    target: :_blank,
                    id: "transcript_file_download",
                    data: { label: pdf_file_set(parent).id } %>
  <% end %>
    </div>
<% end %>
</div>
<script>
  // Change "Download selected audio" link when changing files
  $(document).on('turbolinks:load', function() {
      $('.col-sm-12').click(function(e) {
        e.stopPropagation();
        var selectedAudio = $('li.able-current').find('.able-source').data('src');
        $('#file_download').attr('href', selectedAudio);
      });
  });
</script>