// Hyrax & Blacklight overrides for displaying metadata

// De-bold metadata field labels
.search-result-wrapper {

  .search-results-title-row {
    margin-bottom: 0.75rem;
  }

  .metadata dt {
    font-weight: 400;
  }

  .collection-counts-wrapper {
    margin-bottom: 1rem;
    width: fit-content;

    .collection-counts-item {
      font-size: 1rem;
    }

  }
}

// Change color of active facet header to white
// to make it more readable (increase constrast)
.facet-limit-active h3 button {
  color: #fff;
}

div#appliedParams.constraints-container {
  margin-bottom: 1rem !important;
}

.facet-label {
  width: 13rem;
}

// Pagination

.pagination {
  padding-left: 15px;
  font-size: 1rem;

  .page-link {
    color: #3380b7;
  }

  .page-item.active .page-link {
    background-color: #3380b7;
    border-color: #3380b7;
  }

}