@media only screen and (max-width: 768px) {
    #content-wrapper {
        width: 100%;
    }
}

.collection-details-wrapper {
    font-size: 18px;
    margin-bottom: 2em;
    background-color: #f5f5f5;
    color: #666;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin-left: 3px;
    padding: 8px;
    text-align: center;
    min-width: 80px;
}

.collection-details-wrapper .collection-details-item span {
    display: block;
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
    margin-top: 0.5em;
}

.hyc-metadata {
    padding-left: 0;
}

.hyc-metadata div {
    border: none;
    display: inline-block;
}

.hyc-metadata h4 {
    margin: 0 0 0.5em;
    font-size: 1.5em;
}

.hyc-header {
    margin-bottom: 1em;
}

.extra-actions {
    display: inline-block;
    margin-bottom: 2em;
}

.public-collection-thumbnail {
    padding: 0 1em 0 0 !important;
    float: left;
    margin-right: 0.5em;
    width: 45%;
}

.hyc-description {
    padding: 0 1em 0 1em;
}

.hyc-body .hyc-bl-title, .hyc-body .hyc-bl-results {
    display: block;
}

.hyc-blacklight {
    padding: 0;
}

.hyc-body {
    margin-bottom: 2em;
}

.hyc-banner .hyc-title .label, .hyc-banner .hyc-title td.status span, td.status .hyc-banner .hyc-title span {
    /*box-shadow: 1px 2px 3px rgb(0 0 0 / 80%);*/
    display: inline-block;
    margin-top: 1em;
}

.hyc-bl-results {
    width: 100%;
    overflow-x: auto;
    margin: 0em 0 2em;
}
