#sidebar {
    padding-left: 0px;
}

#pdf_download {
    margin-bottom: 1em;
    display: inline-block;
}

.facet-values.list-unstyled {
    width: auto;
}

span.facet-count {
    width: auto !important;
}

.catalog img {
    margin-bottom: 3em;
}

.feature-collection-message, .feature-work-message {
    display: inline-block;
}

#rendering {
    margin-bottom: 2em;
}

.search-result-wrapper .collection-counts-wrapper .collection-counts-item span {
    font-size: 18px;
    margin-bottom: 0.2em;
}

.collection-counts-item:first-child {
    padding: 0.75em 0.8em 0.5em 0.8em !important;
    margin-left: 0px;
}

.collection-counts-item:nth-child(2) {
    width: 6.75em;
    padding-top: 0.75em !important;
}

.search-result-wrapper .collection-counts-wrapper .collection-counts-item {
    font-size: 16px;
    margin-bottom: 0.9em;
}

.search-result-wrapper .collection-counts-wrapper {
    text-align: left;
}

.work_description {
    white-space: pre-line;
}

.slider-selection, .slider_js .slider-selection {
    background-image: linear-gradient(to bottom, #149bdf, #0480be);
}

span[itemprop="Is_referenced_by"], span[itemprop="Provenance"] {
    text-overflow: ellipsis;
    overflow: hidden;
    /*display: block;*/
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* Search Results Gallery View */
.thumbnail {
    text-align: center;
    border: none !important;
    overflow: hidden;
    padding-top: 15px;
    text-overflow: ellipsis;
}

.thumbnail:hover {
    /*box-shadow: 0 10px 24px rgba(0,0,0,0.1), 0 13px 8px rgba(0,0,0,0.1);*/
}

#documents.gallery .document {
    padding-right: 6px;
    margin-top: 6px;
    padding-top: 6px;
    border-bottom: 1px dotted #ddd;
}

.masonry.document.col-xs-6.col-md-3 {
    border-bottom: 0px !important;
}

.masonry.document {
    padding: 0;
    margin: 0 5px 10px 0;
    border-bottom: 0;
    min-height: 70px;
}

.hyc-blacklight.hyc-bl-results div#documents {
    margin-top: 4em;
}

h5, #documents .document .document-title-heading, .h5, span.constraints-label {
    font-size: 18px;
}

.search-result-wrapper .search-results-title-row .search-result-title {
    display: inline-block;
    margin: 0 15px;
    font-size: 22px;
}

h4, .facets .facets-heading, .h4 {
    font-size: 1.4em;
}

 /*Don't display metadata in gallery view */
dl.document-metadata.dl-horizontal.dl-invert {
    /*display: none;*/
}

#documents .document {
    padding-top: 0px;
}

/* Search results metadata */
.row.metadata-row {
    margin-bottom: 10px;
}

.metadata-row .col-sm-8 {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.multi-line-truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* Downloadable buttons in views/hyrax/dashboard/collections/_form_discovery */
.downloadable {
    border: none;
    font-size: 1.15em;
    margin-bottom: 0.5em;
}

/* Work and file set level transcripts on show pages */
.attribute-transcript {
  white-space: pre-wrap;
}


/*-------------Collection upload thumbnail -------------- */

.panel.panel-default.facet_limit.blacklight-resource_type_sim {
    text-transform: capitalize;
}

.public-collection-thumbnail {
  float: left;
  padding: 0 0.5em !important;
  margin-right: 0.5em;
}

.collection-title-row-content.flex-container .button-wrapper:not(:last-child) {
  margin-bottom: 2%;
}

.thumbnail-upload {
  margin-bottom: 1em;
  display: inline !important;
  width: 25%;
}

.clear-file-link {
  margin-bottom: 2em;
  display: block;
}

.form-group.collection_thumbnail_id {
  margin-bottom: 1em;
}

.current-thumbnail {
  display: block;
  margin-bottom:1em;
}

#uploaded-thumbnail {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
}

.collections-wrapper .thumbnail-title-wrapper .thumbnail-wrapper>img {
  margin-right: 1em;
}


/* homepage */

.row.gallery {
  width: 100%;
}

.content-block-heading {
  margin-bottom: 1.5em;
}

form label {
  margin-bottom: 0.8em;
  margin-right: 0.5em;
}

form #content_block_researcher_title {
  width: 40%;
}

.researcher-thumbnail {
  display: block;
  max-width: 260px;
}

.table > tbody .document-title {
  word-break: break-word !important;
}

.center-content {
  text-align: center !important;
}

.plain-link, .plain-link:hover {
  text-decoration: none;
  color: inherit;
}

/* 
.site-footer {
  left: 0;
  position: relative;
  flex-shrink: 0;
} */


body {
  margin-bottom: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

#paginate_sml {
    display: none;
}

@media only screen and (max-width: 840px ) {
  body {
    margin-bottom: 55%
  }
}

@media only screen and (max-width: 600px ) {
  body {
    margin-bottom: 75%
  }
  #paginate_sml {
    display: flex;
  }
  #paginate_lrg {
      display: none;
  }
}

@media only screen and (max-width: 500px ) {
  body {
    margin-bottom: 110%
  }
}

.advanced-search-link {
    padding: 1em;
}
