.range_limit.advanced_search input.range_begin,
.range_limit.advanced_search input.range_end {
    width: 6em;
}

.limit-criteria-heading, .query-criteria-heading {
    margin-top: 0;
    margin-bottom: 1em;
}

.range_limit.advanced_search .control-label {
    margin-right: 14px;
    padding-right: 14px;
    font-size: 16px;
}

.facet-count {
    padding-right: 0.5em;
}

.label-and-count label {
    padding-right: 0px;
    padding-left: 0.5em;
}

.advanced-info {
    color: #0075FF;
    margin-right: 0.25em;
}

.query-criteria .btn-group {
    margin-left: 0.55em;
}

.facet-field-heading {
    font-size: 20px;
}

.advanced-search-field label {
    font-size: 16px;
    padding-right: 0.25em;
}

.query-criteria-heading {
    line-height: 1.3em;
    padding-left: 0.6em;
    margin-bottom: 0.75em;
}

#advanced_search .sort-buttons {
    display: inline-block;
}

#advanced_search .sort-buttons label {
    font-size: 16px;
    margin-right: 0.5em;
    margin-left: 1.2em;
}

.advanced-facet-limits .panel-body {
    overflow-y: auto;
    max-height: 20em;
}

#advanced_search .buttons-container {
    margin-top: 2em;
    border-top: 2px solid #eee;
    padding-top: 1.5em;
}

#advanced_search .submit-buttons {
    display: inline-block;
    float: right;
}

.advanced-search-form .col-md-4 {
    padding-left: 0;
}

.more_facets_link {
    min-width: 48px;
    display: block;
}

.form-group.phys-repo-container {
    padding-left: 15px;
    margin-left: 0;
}

#physical-repo-label {
    margin-bottom: 0px;
    margin-left: 0.25em;
}

/* mobile view max-size 767px */
@media only screen and (max-width: 767px ) {
    .query-criteria-heading,
    .query-criteria .form-group,
    .query-criteria .col-md-10 {
        padding-left: 0px;
        margin-left: -15px;
    }

    .form-group.phys-repo-container {
        margin-left: 0px;
    }
}