.metadata-collections dd {
    margin-left: 0;
    width: fit-content;
    display: inline-block;
}

.collection-title-row-content .buttons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.5rem;
}

.collections-list-table ul.dropdown-menu li {
    margin-left: 1rem;
}

/* Make the "Search X" label smaller so that the search bar renders on one line */
.dashboard .search-form label[for=search-field-header] {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
}

/* Round button corners on filters for dashboard/my/collections and works */
.dashboard .list-filters .btn-group .btn.btn-secondary {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.vault-dashboard .metadata-collections .collection-details-wrapper {
    margin-left: 15px;
}


span.feature-collection-error {
    display: inline-block;
    max-width: 100%;
    vertical-align: bottom;
    text-align: right;
    margin-bottom: 2%;
}

.collections-list .flex-wrapper {
    justify-content: flex-start;
}

/* Public */
#make-public-button {
    background-color: #daf5da;
}
#make-public-button:hover {
    background-color: #c0ebc0;
}

/* UVic-Only */
#make-uvic-only-button {
    background-color: #abd3ff;
}
#make-uvic-only-button:hover {
    background-color: #97c1f0;
}

/* Private */
#make-private-button {
    background-color: #ffbab8;
}
#make-private-button:hover {
    background-color: #ffa6a3;
}

/*.edit-sharing-tab */

.section-add-sharing .form-group {
    margin-bottom: 1.5rem;
}

.sharing-row-form {
    align-items: start;
}

/* branding tab */
.branding-banner-list {

    .container {
        margin-left: 0;
    }

    .banner-image img {
        object-fit: cover;
    }

}
