.site-footer {
  height: fit-content;
  color: #fff;
  padding: 1.5rem 1.5rem 1rem 1.5rem;

  h2 {
    font-size: 1.5rem;
  }
}

.footer-link {
  color: #fbfbfbfc !important;
  margin-bottom: 2px;
  display: inline-block;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

.footer-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-logo { /* image is in view file */
  height: 165px;
  width: auto;
  background-size: contain !important;
}

#logo-link {
  padding-top: 1.5%;
}

.site-footer {

  .row {
    justify-content: center;
    display: flex;
  }

  .fa {
    font-size: 1.5em;
  }

  .footer-icon {
    margin-right: 5px;
  }

  .sms-icon {
    filter: brightness(0) invert(1);
    height: 22px;
  }

  ul.social-media-links {
    display: flex;
  }

  ul.social-media-links li {
    display: inline-block;
  }
}

.unstyled-list {
  list-style-type: none;
  padding-left: 0;
}

//mobile view max-size 767px
@media only screen and (max-width: 767px ) {

  .footer-logo-container {
    display: none;
  }

}

/* social media icons */
footer .navbar-link i {
  font-size: 1.5em;
}