#featured-researcher {
  padding-top: 5%;
  padding-bottom: 5%;
}

.researcher-name {
  margin-top: 0;
}

#homepage-works-and-collections {
  margin-top: 2em;
}

.media-heading span, .works-list-description {
  font-size: 0.9em;
}

/* social media icons */
footer .navbar-link i {
  font-size: 1.5em;
}

/* Pill nav bar */
#featured-nav {
  margin-bottom: 0 !important;
  margin-top: 1.5em;
}

.nav-pills li {
  margin-right: 0.3em;
}

.featured-nav .nav-link:hover, .nav-pills > li.active > a {
  background-color: rgba(0, 94, 184, 1) !important;
  color: #fff;
}

/* Card animation */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
// Variables
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans',
sans-serif;
// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

.card-row {
  max-width: auto; //900px;
  margin: 2.5em auto 0;
  animation-name: fadeout;
  animation-duration: 2s;
}

.card.work-card .title {
  margin-bottom: 0em;
}

.card.work-card .card-collection-link {
  margin-top: 0.6em;
}

// Base styles
.card {
  float: left;
  padding: 0 1.7rem;
  //width: 33%;
  .content {
    background-color: $white;
    box-shadow: 0 5px 30px 10px rgba($black, 0.3);
  }
  .card-title {
    a {
      color: lighten($black, 50%);
    }
  }
  .menu-button {
    position: absolute;
    z-index: 999;
    top: 16px;
    right: 16px;
    width: 25px;
    text-align: center;
    cursor: pointer;
    span {
      width: 5px;
      height: 5px;
      background-color: lighten($black, 50%);
      color: lighten($black, 50%);
      position: relative;
      display: inline-block;
      border-radius: 50%;
      &::after,
      &::before {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        background-color: currentColor;
        position: absolute;
        border-radius: 50%;
      }
      &::before {
        left: -10px;
      }
      &::after {
        right: -10px;
      }
    }
  }
  .menu-content {
    @include cf;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
    }
    a {
      color: $white;
    }
    span {
      position: absolute;
      left: 50%;
      top: 0;
      font-size: 10px;
      font-weight: 700;
      font-family: 'Open Sans';
      transform: translate(-50%, 0);
    }
  }
  .wrapper {
    margin-bottom: 2em;
    background-color: $white;
    min-height: 400px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba($black, 0.1), 0 15px 12px rgba($black, 0.1); // 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
    .card-collection-link {
      bottom: 0%;
      position: absolute;
      display: inline-block;
      padding: 0 0 1em 1em;
      margin-bottom: -0.1em;
      background-color: #fff;
      width: 100%;
    }
    &:hover {
      .data {
        transform: translateY(0);
      }
      .content {
        padding-bottom: 2em;
      }
      .work-card-title {
        margin-bottom: 0.4em;
      }
      box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.3)
    }
    .work-card-link {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
  .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;
    .content {
      padding: 1em;
      position: relative;
      z-index: 1;
    }
  }
  .author {
    font-size: 12px;
  }
  .card-title.collection-card-title {
    margin-bottom: 0.7em;
    margin-top: 0.3em !important;
    font-family: $open-sans;
    font-weight: 300;
  }
  .card-title.work-card-title {
    margin-bottom: 1.3em;
    margin-top: 0.3em !important;
    font-family: $open-sans;
    font-weight: 300;
  }
  .text {
    height: 70px;
    margin: 0;
  }
  input[type='checkbox'] {
    display: none;
  }
  input[type='checkbox']:checked + .menu-content {
    transform: translateY(-60px);
  }
}
