<div class="alert alert-warning alert-dismissable" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  This will only apply to works in this collection, i.e. not works in its subcollections. Each subcollection has to be edited individually.
</div>
