<div class="panel panel-default permissions-confirm">
  <div class="panel-heading">
    <h4>Apply changes to collection contents?</h4>
  </div>
  <div class="panel-body">
    <p>You have changed the permissions for <em><%= @collection.title.first %></em>, making it visible to specific users and/or groups.</p>
    <p>Would you like to change all of the works and files within this collection to have the same permissions? Clicking yes will copy both visibility and user/group settings.</p>
    <p style="font-weight: bold">Warning: This will overwrite any permissions for individual works in this collection.</p>
  </div>
  <div class="form-actions panel-footer">
    <%= button_to "Yes please.", main_app.copy_collection_permissions_path(@collection.id, anchor: session[:current_tab]), class: 'btn btn-primary', data: { turbolinks: false } %>
    <%= link_to "No. I'll update it manually.", "/dashboard/collections/#{@collection.id}/no_copy_permissions", class: 'btn', data: { turbolinks: false } %>
  </div>
</div>
