<div class="citations">
    <% if Hyrax.config.citations? %>
      <%= link_to "Citations", hyrax.citations_work_path(presenter), id: 'citations', class: 'btn btn-default' %>
    <% end %>
    <div class="btn-group">
    <p>This page supports the Zotero and Mendeley browser extensions simply click on the extension widget in your browser to save the objects citation.</p>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t('.header') %> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'EndNote', polymorphic_path([main_app, presenter], format: 'endnote') %></li>
        <li><%= link_to 'RIS', polymorphic_path([main_app, presenter], format: 'ris') %></li>
      </ul>
    </div>
</div>
