<% if request.base_url.include? "vault" %>
  <div class="list-group-item">
    <fieldset>
      <legend class="downloadable" >Downloads</legend>
      <% if params[:action] == "new" %>
        <% checked_status = true %>
      <% else %>
        <% checked_status = ActiveModel::Type::Boolean.new.cast(f.object.downloadable) %>
      <% end %>
      <%= f.check_box :downloadable, {default: true, checked: checked_status }, 'true', 'false' %>
      Public users can download files.
    </fieldset>
  </div>
<% end %>